name: Build, Release, and Publish

on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'README.md'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - 'README.md'

env:
  GO_VERSION: '1.25.4' # Updated to match toolchain
  BINARY_NAME: 'ingest'

permissions:
  contents: write
  packages: write

jobs:
  build:
    if: ${{ ! contains(github.event.head_commit.message, '[skip ci]') && ! contains(github.event.pull_request.title, '[skip ci]')}}
    name: Build
    strategy:
      matrix:
        target:
          - os: darwin
            arch: arm64
            runner: macos-14
            c_compiler_package: ""
          - os: linux
            arch: amd64
            runner: ubuntu-latest
            c_compiler_package: "build-essential"
          # - os: linux
          #   arch: arm64
          #   runner: ubuntu-latest-arm64 # Use native ARM64 runner
          #   c_compiler_package: "build-essential" # Native compiler
    runs-on: ${{ matrix.target.runner }}

    outputs:
      version: ${{ steps.set_version.outputs.new_tag }}
      changelog: ${{ steps.set_version.outputs.changelog }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Go and cache dependencies
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Get version
        id: set_version
        uses: mathieudutour/github-tag-action@a22cf08638b34d5badda920f9daf6e72c477b07b # v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          dry_run: true

      - name: Get dependencies
        run: go mod download

      - name: Set up C compiler
        if: startsWith(matrix.target.runner, 'ubuntu') && matrix.target.c_compiler_package != ''
        run: |
          sudo apt-get update
          sudo apt-get install -y ${{ matrix.target.c_compiler_package }}

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6

      - name: Run tests
        run: make test

      - name: Build
        env:
          CGO_ENABLED: "1" # Explicitly enable CGo
          GOOS: ${{ matrix.target.os }}
          GOARCH: ${{ matrix.target.arch }}
          VERSION: ${{ steps.set_version.outputs.new_tag }}

        run: |
          go build -v -ldflags "-w -s -X main.Version=$VERSION" -o build/${{ env.BINARY_NAME }}-${{ matrix.target.os }}-${{ matrix.target.arch }} .
          ls -ltarh build/

      - name: Upload artifact
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        with:
          name: ${{ env.BINARY_NAME }}-${{ matrix.target.os }}-${{ matrix.target.arch }}
          path: build/${{ env.BINARY_NAME }}-${{ matrix.target.os }}-${{ matrix.target.arch }}
          retention-days: 90

  release:
    name: Release
    needs: build
    if: ${{github.event_name == 'push' && github.ref == 'refs/heads/main' && !contains(github.event.head_commit.message, '[skip ci]') && ! contains(github.event.pull_request.title, '[skip ci]')}}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          fetch-depth: 0

      - name: Download artifact
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4
        with:
          path: build/

      - name: Create a GitHub release
        uses: ncipollo/release-action@2c591bcc8ecdcd2db72b97d6147f871fcd833ba5 # v1
        if: ${{ startsWith(github.ref, 'refs/heads/main') && !contains(github.event.head_commit.message, '[skip ci]') && ! contains(github.event.pull_request.title, '[skip ci]') }}
        with:
          tag: ${{ needs.build.outputs.version }}
          name: ${{ needs.build.outputs.version }}
          body: ${{ needs.build.outputs.changelog }}
          skipIfReleaseExists: true
          generateReleaseNotes: true
          allowUpdates: true
          makeLatest: ${{ startsWith(github.ref, 'refs/heads/main') && !contains(github.event.head_commit.message, '[skip ci]') && ! contains(github.event.pull_request.title, '[skip ci]') }}
          prerelease: ${{ !startsWith(github.ref, 'refs/heads/main') }}
          artifactErrorsFailBuild: true
          artifacts: |
            build/${{ env.BINARY_NAME }}*/${{ env.BINARY_NAME }}*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
